@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30pt;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    padding: 20px;
    color: white;
}

.left {
    flex: 1;
    padding: 20px;
}

.right {
    flex: 2;
    padding: 20px;
}


.project,
.study {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.study{
    flex-direction: column;
}
.project img,
.study img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}


.social-media {
    list-style-type: none;
    padding: 0;
}

.social-media li {
    margin: 5px 0;
}

.social-media a {
    text-decoration: none;
    color: white;
}

#about-me img{
    height: 500px;
}

#about-me {
    background-color: #C3A995; 
    text-align: center;
    padding: 100px;
    
}

#projects {
    background-color: #8A7968; 
}

#study {
    background-color: #6F5E53;
}

#contact {
    background-color: #593D3B;
}

.project img{
    width: 300px;
}
.project img:hover,
.study img:hover {
    transform: scale(1.1); /* Hace un zoom del 10% en el hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Añade una sombra en el hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agrega transiciones suaves */
}
#about-me p:first-child:hover {
    transform: rotate(10deg); 
    transition: transform 0.3s ease;
}
#primera{
    width: 100%;
    height: auto;
    transition: background-image 0.3s ease; 
    cursor: pointer; 
}
#primera:hover {
    background-image: url('undraw_Programmer_re_owql__1_-removebg-preview.png'); 
    z-index: 10;
}
b:hover{
    color: rgb(166, 219, 166);
}
h2{
    font-size: 50pt;
}
ul li a:hover{
    color: bisque;
}
ul li a{
    font-size: 40pt;
}
footer {
    background-color: #C3A995;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 18px;
}